<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVF8xfvLQNzgILChUiBV_2IcDniLRECi0&callback=initMap" async>
</script>
<div id='map'></div>
<input type="text" name="search" placeholder="What do you want to eat?" class="search-box">